body {
    background-color: #f9f9f9;
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    height: 100%;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bg-back{
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bg-feet{
    background-image: url("{{ assets }}front/img/banner_deep_vide.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.9;*/
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}